*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

html {
  font-size: 17px;
}

body {
  font-family: Georgia;
  padding: 2rem;
  line-height: 1.5;
  color: #eee;
  background-color: #1e1e1e;
}

.spaced > * + h3 {
  margin-top: 1rem;
}

p + p {
  margin-top: 1rem;
}

a {
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 100% 1px;
  background-position: 0 98%;
}

h1 {
  font-size: 1.5rem;
}

.name {
  color: #fff;
}

.pronouns {
  margin-left: 0.5em;
  color: #aaa;
}

.deets li::before {
  content: "›";
  padding-right: 1em;
}

.category {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 2rem;
}

.category > h2 {
  width: 6rem;
  flex-shrink: 0;
  text-align: right;
  text-transform: lowercase;
}

* + .category {
  margin-top: 4rem;
}

.place {
page-break-inside: avoid;
}

.place > h3 {
  font-weight: 700;
  color: #fff;
}

.place + .place {
  margin-top: 2rem;
}

.place > .description {
  margin-top: 1rem;
}

details {
  margin-top: 0.5rem;
  padding-left: 1rem;
}

summary {
  cursor: pointer;
  color: #aaa;
}

.place > ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
}

.place > ul > li:not(:last-child)::after {
  content: "·";
  padding-left: 0.5em;
}
